## Ignore files

# KSP-specific FOLDERS
_MMCfgOutput/
GameData/SquadExpansion/
Internals/
KSP_x64_Data/
Launcher_Data/
Logs/
Missions/
MonoBleedingEdge/
Parts/
Plugins/
Resources/
Screenshots/
sounds/
thumbs/
UserLoadingScreens/

# KSP-specific FILES
.DS_Store
*.adoc
*.bak
*.dds
*.dll
*.exe
*.log
*.md
*.png
*.version
*.zip
*.7z
[Cc][Hh][Aa][Nn][Gg][Ee]*
[Ll][Ee][Gg][Aa][Ll]*
[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
[Rr][Ee][Aa][Dd][Mm][Ee]*
buildID64.txt
Player - Shortcut.lnk
Unity*
ModuleManager*

# Visual Studio
.vs/
*.pdb
.localhistory/
.history/
