## Ignore files

# KSP-specific files
_MMCfgOutput/
CKAN/
GameData/SquadExpansion/
Internals/
KSP_x64_Data/
Launcher_Data/
Logs/
Missions/
MonoBleedingEdge/
Parts/
Plugins/
Resources/
Screenshots/
sounds/
thumbs/
UserLoadingScreens/
*.log
*.exe
*.bak
*.zip
*.7z
[Ll]egalNotice.*
[Ll]icense.*
[Rr]ead[Mm]e.*
buildID64.txt
Player - Shortcut.lnk
Unity*
ModuleManager*

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln
.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio directory
.vs/
*.pdb
.localhistory/
.history/
